<div>
	<h1>Inventories</h1>
	<p>Table on inventories here</p>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>ID</th><th>Name</th><th>Desc</th><th>Price</th><th>Picture</th><th>Action</th>
			</tr>
		</thead>
		<tbody>
		<% @inventories.each do |inventory| %>
			<tr>
				<td><%= inventory.id %></td>
				<td><%= inventory.name %></td>
				<td><%= inventory.desc %></td>
				<td><%= inventory.price %></td>
				<td><%= inventory.picture %></td>
				<td>
					<a class="btn btn-sm btn-primary" href="<%= inventory_path(inventory.id) %>">View</a>
					<span class="mx-1"></span>
					<%= form_with url: inventory_path(inventory.id), method: :delete do |form| %>
						<%= form.submit 'Delete', class: 'ml-2 btn btn-sm btn-danger' %>
						<% end %>
				</td>
			</tr>
		<% end %>
		</tbody>
	</table>

	<!-- for signed in users only -->
	<% if user_signed_in? %>
		<%= form_with url: generate_inventories_path do |form| %>
			<%= form.submit 'Generate', class: 'btn btn-primary' %>
		<% end %>
		<%= render "form", :locals => {:inventory => @inventory } %>
	<% end %>
</div>
